
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>
    
        <div class="form">
            <form action="/weather_app" method="POST">
                <label for='city'>* City Name: </label>
                <input type="text" name="city" id="city" required>
                <label for='units'>* Units: </label>
                <input type="text" name="units" id="units" required>
                <label for='App Key'>* App Key: </label>
                <input type="text" name="appid" id="appid" required>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>